.DS_Store
.ipynb_checkpoints
mongodb
spark
hadoop
data
mongo-hadoop
lib/mongo*
lib/pymongo_spark.py
elasticsearch
elasticsearch-hadoop
lib
*.pyc
tmp
.idea
kafka
zeppelin
models
.vagrant
*.pem
.reservation_id
.deep_reservation_id
deep/data
.vscode
ghostdriver.log
cassandra
janusgraph
deep
.local
.ipython
.jupyter
.ivy2
.bash_history
.dbshell
.mongodb
.mongorc.js
.cache
logs
.wget-hsts
Food_delivery/Analysis.ipynb
Food_delivery/Deploying_Predictive_Systems/Make_Predictions.ipynb