.DS_Store
.ipynb_checkpoints
models
mongodb
spark*
hadoop
mongo-hadoop
lib/mongo*
lib/pymongo_spark.py
elasticsearch
elasticsearch-hadoop
lib
ch03/static
ch06/web/static
*.pyc
tmp
.idea
kafka*
zeppelin
ch05/scrape_faa.py
models
.vagrant
*.tgz
*.gz
*.pem
.reservation_id
.ec2_hostname
.ec2_deep_hostname
.deep_reservation_id
deep/data
.vscode
ghostdriver.log
cassandra
janusgraph
deep
data
flight_prediction/target
apache-zookeeper*
